<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dso30bt.project2019.potapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- login activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="Reports"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Sign-up activity -->
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Image activity -->
        <activity
            android:name=".activities.PotholeImageCaptureActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- About activity -->
        <activity
            android:name=".activities.AboutActivity"
            android:label="About"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- Profile activity -->
        <activity
            android:name=".activities.UserProfileActivity"
            android:launchMode="singleTop"
            android:label="Profile"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- Constructor details activity -->
        <activity
            android:name=".activities.ConstructorDetailsActivity"
            android:label="Constructor details"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity android:name=".activities.DietActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dso30bt.project2019.potapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>